body{
    margin: 0;
    padding: 0;
    background:#eee;
    color: #444;
    background: -moz-linear-gradient(bottom, #eef, #fee);

}
.container{
    width: 76%; margin-left: 10%; background:#fff; padding: 0 2% 1% 2%; display: inline-block;
}
.header h1{
    display: block;
    margin-top: 0;
    margin-bottom: 5px;
    color: indianred;
    letter-spacing: 5px;
    text-align: center;
}
.header h2{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    color: steelblue;
    text-align: center;
}
.nav {
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px;
    border-color: #00ffdb;
    display: block;
    border-style: solid;


}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #66959b;
    background: -moz-linear-gradient(right, #66959b, #ff959b);
}

.nav ul li {
    float: left;
}

.nav ul li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav ul li a:hover, .dropdown:hover .dropbtn {
    background-color: #067272;
}

.nav ul .dropdown {
    display: inline-block;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown .dropdown-content a:hover {background-color: #f1f1f1}

ul .dropdown:hover .dropdown-content {
    display: block;
}
.section{
    width: 100%;
    min-height: 500px;
}
.section .left{
    clear: both;
    float: left;
    width: 22%;
    display: block;
    margin-top: 10px;
}
.section .center{
    clear: none;
    float: left;
    width: 60%;
    display: block;
    background:transparent;
    margin-top: 10px;
    margin-left: 1%;
    margin-right: 1%;
}
.section .right{
    clear: none;
    float: left;
    width: 22%;
    display: block;
    margin-top: 10px;
}
.footer{
    width: 100%;
    clear: both;
    float: none;
    background-color:#66959b;
    border-radius: 5px; 
}
.footer i{
    padding: 5px;
    display: block;
    color: white;
}
.menu{
    width: 94%;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    padding: 3%;
}
.content{
    width: 100%;			
}
.content h3{
    margin: 5px;
}
.menu ul{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu ul li {
    float: none;
}
.menu ul li a{
    text-decoration: none;
    padding: 10px 14px;
    background: transparent;
    display: block;
    color: #888;
}
.menu ul li a:hover{
    background: #fff;
}

input[type=submit]{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

input{
    margin-bottom: 10px;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0;
}

select{
    width: 50%;
    margin-bottom: 10px;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0;
}

input[type=text], textarea{
    width: 100%;
    margin-bottom: 10px;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0;
}

.btn-submit{
    padding: 10px 16px;
    font-size: 15px;
    font-weight: 500;
    border:0;
    max-width: 150px;
    background:#1fa49f;
    color: white;
}
.btn-submit:hover{
    background:#333;
}
.btn-table{
    padding: 2px 2px;
    background:#c84b4b;
    color: #fff;
    text-decoration: none;
    margin: 2px;
    display: block;
}
.btn-table:hover{
    background:#ddd;
    color: #333;
}
h3{
    color: #666;
}
th{
    background-color: #f2f2f2;
}
b{
    color: #888;
}
.artikel{
    width:46%; padding: 2%; float: left; clear: none;
}
.artikel img{
    height: 160px; text-align: center; opacity: 0.8; max-width: 100%;
}
.artikel img:hover{
    opacity: 1;
}